In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load train data
train_data = pd.read_csv('dataset/train.csv')

# Load test data
test_data = pd.read_csv('dataset/test.csv')

In [3]:
train_data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
train_data.shape

(20800, 5)

In [5]:
train_data.size

104000

In [6]:
train_data.head(1000)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
995,995,"Anti-Trump protests are paid and staged, Craig...",Sergey Gladysh,"November 12, 2016 348 Ads on Craigslist reveal...",1
996,996,"Men, Is Exercise Putting a Damper on Your Sex ...",Gretchen Reynolds,Men who exercise strenuously may have a lower ...,0
997,997,Baking Soda & Coconut Oil Can Kill Cancer: Eye...,stevew,Humans Are Free Baking Soda & Coconut Oil Can ...,1
998,998,Saudi Arabia announces date certain for the ap...,NaN,"Email Saudi Arabia announces the VAT Act, whic...",1
999,999,"Trump, Citing No Evidence, Suggests Susan Rice...","Maggie Haberman, Matthew Rosenberg and Glenn T...",WASHINGTON — President Trump said on Wednes...,0

In [8]:
train_data.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [11]:
train_data.describe(include='all')

,id,title,author,text,label
count,20800.000000,20242,18843,20761,20800.000000
unique,NaN,19803,4201,20386,NaN
top,NaN,Get Ready For Civil Unrest: Survey Finds That ...,Pam Key,,NaN
freq,NaN,5,243,75,NaN
mean,10399.500000,NaN,NaN,NaN,0.500625
std,6004.587135,NaN,NaN,NaN,0.500012
min,0.000000,NaN,NaN,NaN,0.000000
25%,5199.750000,NaN,NaN,NaN,0.000000
50%,10399.500000,NaN,NaN,NaN,1.000000
75%,15599.250000,NaN,NaN,NaN,1.000000
max,20799.000000,NaN,NaN,NaN,1.000000

In [7]:
test_data.head(1000)

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...,...,...,...,...
995,21795,"The Quinceañera, a Rite of Passage in Transiti...",Marybel Gonzalez,The Cedillo family was already running an hour...
996,21796,Energy Update: Stargates Are Active And We Hav...,Editor,By Lisa Brown\nGood morning beautiful light fa...
997,21797,Delta Malfunction on Land Keeps a Fleet of Pla...,Annalyn Kurtz,Delta Air Lines is working to reset its operat...
998,21798,How to Build a Fold-Down Greenhouse on The Cheap!,The Yardener,How to Build a Fold-Down Greenhouse on The Che...
999,21799,Left-Wing American ’Constitution’ Society Urge...,Joel B. Pollak,The Washington Examiner has published an accou...

In [9]:
test_data.describe()

                 id
count   5200.000000
mean   23399.500000
std     1501.255031
min    20800.000000
25%    22099.750000
50%    23399.500000
75%    24699.250000
max    25999.000000

In [10]:
test_data.describe(include='all')

,id,title,author,text
count,5200.000000,5078,4697,5193
unique,NaN,5056,1732,5126
top,NaN,Get Ready For Civil Unrest: Survey Finds That ...,Pam Key,
freq,NaN,2,65,31
mean,23399.500000,NaN,NaN,NaN
std,1501.255031,NaN,NaN,NaN
min,20800.000000,NaN,NaN,NaN
25%,22099.750000,NaN,NaN,NaN
50%,23399.500000,NaN,NaN,NaN
75%,24699.250000,NaN,NaN,NaN
max,25999.000000,NaN,NaN,NaN