In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import re
import string

In [4]:
df_fake = pd.read_csv("/kaggle/input/fake-and-real-news-dataset/Fake.csv")
df_true = pd.read_csv("/kaggle/input/fake-and-real-news-dataset/True.csv")

In [5]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
df_true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
df_fake["class"] = 0
df_true["class"] = 1

In [8]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [10]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [11]:
# Removing last 10 rows for manual testing
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)


df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [12]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [13]:
df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

<ipython-input-13-3aaf8ec2aad1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
<ipython-input-13-3aaf8ec2aad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

In [14]:
df_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [15]:
df_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [16]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)

df_manual_testing.to_csv("/kaggle/working/manual_testing.csv")

In [ ]:
#df_manual_testing = df_manual_testing.sample(frac = 1)

Merging True and Fake Dataframes

In [17]:
df_merge = pd.concat([df_fake, df_true], axis =0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [18]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

Removing columns which are not required

In [20]:
df = df_merge.drop(["title", "subject","date"], axis = 1)

In [21]:
df.isnull().sum()

text     0
class    0
dtype: int64

Random Shuffling the dataframe

In [23]:
df = df.sample(frac = 1)

In [24]:
df.head()

                                                    text  class
20974  CHARIKAR, Afghanistan (Reuters) - Afghan autho...      1
19726  NEW YORK (Reuters) - Britain, the United State...      1
17426  VATICAN CITY (Reuters) - Pope Francis canonize...      1
10294  Yes, this will happen! America needs a wall at...      0
332    There s a lot of buzz about the GOP s latest e...      0

In [25]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [26]:
df.head(20)

                                                 text  class
0   CHARIKAR, Afghanistan (Reuters) - Afghan autho...      1
1   NEW YORK (Reuters) - Britain, the United State...      1
2   VATICAN CITY (Reuters) - Pope Francis canonize...      1
3   Yes, this will happen! America needs a wall at...      0
4   There s a lot of buzz about the GOP s latest e...      0
5   GENEVA (Reuters) - The United Nations has veri...      1
6   21st Century Wire says Three weeks ago, while ...      0
7   Republican presidential nominee Donald Trump h...      0
8   BRUSSELS (Reuters) - Turkish Foreign Minister ...      1
9   In discussing shootings and crime in the first...      0
10  LONDON (Reuters) - British aid minister Priti ...      1
11  Hillary s VP pick is proving himself to be a a...      0
12  An Arlington woman was arrested this week and ...      0
13  21st Century Wire says Partisan liberal hypocr...      0
14  OSLO (Reuters) - Norwegians vote on Sept. 10 a...      1
15  BEIRUT (Reuters) - A booby-trapped motorbike e...      1
16  On Tuesday, the Grammys announced their nomina...      0
17  WASHINGTON (Reuters) - U.S. Treasury Secretary...      1
18  The despicable anti-free speech, communist clo...      0
19  (Reuters) - U.S. President Donald Trump faces ...      1

In [27]:
df.columns

Index(['text', 'class'], dtype='object')

**Creating a function to process the texts**

In [28]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [29]:
df["text"] = df["text"].apply(wordopt)

In [30]:
df.head()

                                                text  class
0  charikar  afghanistan  reuters    afghan autho...      1
1  new york  reuters    britain  the united state...      1
2  vatican city  reuters    pope francis canonize...      1
3  yes  this will happen  america needs a wall at...      0
4  there s a lot of buzz about the gop s latest e...      0

In [31]:
df.shape

(44878, 2)

In [32]:
df.to_csv("/kaggle/working/news_dataset.csv", index=False)
compression_opts = dict(method='zip',archive_name='/kaggle/working/news_dataset.csv')
df.to_csv('/kaggle/working/clean_dataset.zip', index=False,compression=compression_opts)

In [34]:
df.head()

                                                text  class
0  charikar  afghanistan  reuters    afghan autho...      1
1  new york  reuters    britain  the united state...      1
2  vatican city  reuters    pope francis canonize...      1
3  yes  this will happen  america needs a wall at...      0
4  there s a lot of buzz about the gop s latest e...      0

In [35]:
df.shape

(44878, 2)

**Split the dataset into train and test**

In [36]:
df.rename(columns={'class': 'labels'}, inplace=True)

In [37]:
df.head()

                                                text  labels
0  charikar  afghanistan  reuters    afghan autho...       1
1  new york  reuters    britain  the united state...       1
2  vatican city  reuters    pope francis canonize...       1
3  yes  this will happen  america needs a wall at...       0
4  there s a lot of buzz about the gop s latest e...       0

In [40]:
df.columns

Index(['text', 'labels'], dtype='object')

In [ ]:
df.shape()

In [11]:
news_dataset = pd.read_csv("dataset/val_data.csv")

In [12]:
news_dataset.head(10)

                                                text  labels
0  jakarta  reuters    indonesian counter terrori...       1
1  london  reuters    london mayor sadiq khan sai...       1
2  when donald trump named steve bannon as his ch...       0
3  uh oh  billionaire green guru tom stayer says ...       0
4  rep  trey gowdy was full of sarcasm  rightfull...       0
5  new york  reuters    authorities were investig...       1
6  just one more reminder of why president trump ...       0
7  oklahoma city  reuters    oklahoma lawmakers w...       1
8  convincing president trump to release his tax ...       0
9  hillary is without a doubt  the worst and most...       0

In [9]:
news_dataset.shape

(35902, 3)

In [13]:
news_dataset.shape

(4488, 2)

In [14]:
news_dataset.value_counts('labels')

labels
0    2378
1    2110
Name: count, dtype: int64

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
# train-temp split (80:20)

train_data, temp_data = train_test_split(df, test_size=0.2, random_state=42)

# validation-test split (10:10) -> 80:10:10

val_data, test_data = train_test_split(temp_data, test_size=0.5, random_state=42)